/* By Sheaf.dev */
@theme inline {
    /* base color variables */

    /* primary color variables */
    --color-primary: var(--color-yellow-500);
    --color-primary-content: var(--color-yellow-900);
    --color-primary-fg: var(--color-neutral-900);

    /* radius variables */
    --radius-field: 0.375rem;
    --radius-box: 0.75rem;
}
